Project_SPS/Web References/WebReference/OBMEN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd1="WWW.OBMEN.RU" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="WWW.OBMEN.RU" name="OBMEN" targetNamespace="WWW.OBMEN.RU" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs1="WWW.OBMEN.RU" elementFormDefault="qualified" targetNamespace="WWW.OBMEN.RU" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Universal">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Param1" type="xs:string" />
            <xs:element name="Param2" type="xs:string" />
            <xs:element name="Param3" type="xs:string" />
            <xs:element name="Param4" type="xs:string" />
            <xs:element name="Param5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UniversalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
            <xs:element name="Param1" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Document_Tech">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Parametr1" type="xs:string" />
            <xs:element name="Parametr2" type="xs:string" />
            <xs:element name="Parametr3" type="xs:string" />
            <xs:element name="Parametr4" type="xs:string" />
            <xs:element name="Parametr5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Document_TechResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
            <xs:element name="Parametr1" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="List_emp">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Par1" type="xs:string" />
            <xs:element name="Par2" type="xs:string" />
            <xs:element name="Par3" type="xs:string" />
            <xs:element name="Par4" type="xs:string" />
            <xs:element name="Par5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="List_empResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
            <xs:element name="Par1" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="UniversalRequestMessage">
    <part name="parameters" element="tns:Universal" />
  </message>
  <message name="UniversalResponseMessage">
    <part name="parameters" element="tns:UniversalResponse" />
  </message>
  <message name="Document_TechRequestMessage">
    <part name="parameters" element="tns:Document_Tech" />
  </message>
  <message name="Document_TechResponseMessage">
    <part name="parameters" element="tns:Document_TechResponse" />
  </message>
  <message name="List_empRequestMessage">
    <part name="parameters" element="tns:List_emp" />
  </message>
  <message name="List_empResponseMessage">
    <part name="parameters" element="tns:List_empResponse" />
  </message>
  <portType name="OBMENPortType">
    <operation name="Universal">
      <input message="tns:UniversalRequestMessage" />
      <output message="tns:UniversalResponseMessage" />
    </operation>
    <operation name="Document_Tech">
      <input message="tns:Document_TechRequestMessage" />
      <output message="tns:Document_TechResponseMessage" />
    </operation>
    <operation name="List_emp">
      <input message="tns:List_empRequestMessage" />
      <output message="tns:List_empResponseMessage" />
    </operation>
  </portType>
  <binding name="OBMENSoapBinding" type="tns:OBMENPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Universal">
      <soapbind:operation soapAction="WWW.OBMEN.RU#OBMEN:Universal" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="Document_Tech">
      <soapbind:operation soapAction="WWW.OBMEN.RU#OBMEN:Document_Tech" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="List_emp">
      <soapbind:operation soapAction="WWW.OBMEN.RU#OBMEN:List_emp" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="OBMENSoap12Binding" type="tns:OBMENPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Universal">
      <soap12bind:operation soapAction="WWW.OBMEN.RU#OBMEN:Universal" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="Document_Tech">
      <soap12bind:operation soapAction="WWW.OBMEN.RU#OBMEN:Document_Tech" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="List_emp">
      <soap12bind:operation soapAction="WWW.OBMEN.RU#OBMEN:List_emp" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OBMEN">
    <port name="OBMENSoap" binding="tns:OBMENSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://192.168.28.130/TechPort/ru_RU/ws/obmen" />
    </port>
    <port name="OBMENSoap12" binding="tns:OBMENSoap12Binding">
      <soap12bind:address location="http://192.168.28.130/TechPort/ru_RU/ws/obmen" />
    </port>
  </service>
</definitions>